####################################
# PROJECT
####################################
PROJECT_NAME=accurate

####################################
# NGINX
####################################
NGINX_PORT=80

####################################
# PHP
####################################
PHP_VERSION=8.3

####################################
# MYSQL
####################################
MYSQL_VERSION=8.4

MYSQL_PORT=3306

MYSQL_DATABASE=accurate

MYSQL_USER=accurate

MYSQL_PASSWORD=secret

MYSQL_ROOT_PASSWORD=root

####################################
# PHPMYADMIN
####################################
PHPMYADMIN_PORT=8080